.col-50 {
  width: 50%;
}

.col-90 {
  width: 90%;
}

.fila {
  display: flex;
}
footer {
  height: 80px;
  background: #131313 0% 0% no-repeat padding-box;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 50px;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 2rem;
  filter: invert();
}

footer p {
  font: normal normal normal 12px/14px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  padding-left: 7rem;
}
