<app-header></app-header>

<div class="about-container">
  <div class="about-image">
    <img src="/assets/dealer-2.jpg" alt="" />
  </div>
  <div class="about-content">
    <h1>¿Quiénes somos?</h1>
    <div class="about-text">
      <p>
        En DEAC AUTO IMPORT, somos más que una simple concesionaria de autos;
        somos un equipo de apasionados por el mundo automotriz. Con más de 20
        años de experiencia en la industria, nos dedicamos a ofrecer vehículos
        de alta calidad y un servicio excepcional a nuestros clientes.
      </p>

      <p>
        <strong>Nuestra Misión</strong><br />
        Nuestra misión es proporcionar a nuestros clientes una experiencia de
        compra inigualable, basada en la confianza, la transparencia y la
        satisfacción total. Nos esforzamos por ofrecer una selección de
        vehículos que combine innovación, seguridad y eficiencia.
      </p>

      <p>
        Nuestro equipo es el corazón y el alma de todo lo que hacemos. Cada
        miembro aporta una combinación única de habilidades, experiencia y
        pasión por los autos, lo que nos permite ofrecer un servicio excepcional
        a nuestros clientes.
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
