<div class="header-overlay">
  <app-header></app-header>
</div>

<div class="container fila">
  <div class="map-container col-80">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d795.573251835183!2d-69.29867409014341!3d18.465283323279042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d18.465241606159115!2d-69.29914097035228!5e0!3m2!1ses-419!2sdo!4v1730063464591!5m2!1ses-419!2sdo"
      width="800"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="contact-info col-20">
    <h2>¡Ven a visitarnos! 🚗</h2>
    <p class="location-text">
      ¿Buscando el paraíso de los autos? ¡Lo encontraste! Estamos en la Av.
      Francisco Alberto Caamaño Deñó 107, San Pedro de Macorís 21000.
    </p>
    <p class="fun-text">
      Si ves un edificio lleno de autos increíbles y gente sonriente, ¡llegaste
      al lugar correcto! 😎
    </p>
    <div class="horario">
      <h3>Horario</h3>
      <p>Lunes a Viernes: 8:00 AM - 6:00 PM</p>
      <p>Sábados: 8:00 AM - 2:00 PM</p>
      <p>Domingos: Cerrado</p>
      <p>
        Escribenos:
        <a style="color: black" href="https://wa.link/gkc2fd" target="_blank"
          >+1 849-268-6216</a
        >
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
