<router-outlet></router-outlet>
<app-header class="header"></app-header>

<div class="hero">
  <div class="hero-content">
    <div class="hero-content-text">
      <h1>Pasión por los autos, pasión por ti</h1>
      <i
        class="bi bi-arrow-down-circle-fill arrow"
        (click)="scrollToPreferirnos()"
      ></i>
    </div>
    <div class="overlay"></div>
    <img src="/assets/dealer.jpg" alt="dealer" />
  </div>
</div>

<div class="preferirnos" id="preferirnos">
  <div class="info-1">
    <h6>Todos tenemos dudas</h6>
    <h2>¿Por qué Preferirnos?</h2>
  </div>

  <div class="info-2">
    <div class="info-2-item">
      <h3>Experiencia y Confianza</h3>
      <p>
        Con más de 20 años en la industria automotriz, hemos construido una
        reputación basada en la confianza y la satisfacción del cliente. Nuestro
        equipo de expertos está comprometido a ofrecerte el mejor servicio y
        asesoramiento en cada paso del proceso de compra.
      </p>
    </div>
    <div class="info-2-item">
      <h3>Variedad de Vehículos</h3>
      <p>
        Ofrecemos una amplia gama de vehículos, desde autos compactos hasta SUVs
        y vehículos de lujo. Nuestro inventario está cuidadosamente seleccionado
        para garantizar que encuentres el auto perfecto que se adapte a tus
        necesidades y estilo de vida.
      </p>
    </div>
    <div class="info-2-item">
      <h3>Atención Personalizada</h3>
      <p>
        Cada cliente es único, y nos enorgullece ofrecer una atención
        personalizada que se adapte a tus necesidades específicas. Nuestro
        equipo está siempre disponible para responder tus preguntas y ayudarte a
        tomar la mejor decisión.
      </p>
    </div>
  </div>
</div>

<div class="fanaticos">
  <div class="info-1">
    <h6>Fanaticos</h6>
    <h2>¿Sabemos lo qué hacemos?</h2>
  </div>

  <div class="info-2">
    <img src="/assets/honda.jpg" alt="honda" />
  </div>

  <p>
    No solo vendemos autos, ¡somos verdaderos fanáticos de ellos! Cada miembro
    de nuestro equipo comparte una profunda pasión por el mundo automotriz.
    Desde el rugido de un motor potente hasta la elegancia de un diseño
    aerodinámico, vivimos y respiramos autos.
  </p>
</div>
<app-footer class="footer"></app-footer>
